/* Common styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.primary-btn{
    padding: 10px 20px;
    background-color: #E55473;
    border: 1px solid #E55473;
    border-radius: 8px;
    color: #ffffff;

    font-size: 20px;
    font-weight: 700;
    transition: 0.4s all ease;
    cursor: pointer;
}
.primary-btn:hover{
    background-color: #FCEEF1;
    border: 1px solid #E55473;
    color: #E55473;
}


/* Header styles */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 50px 220px 0px 220px;
    background-color: #FCEEF1;

    gap: 80px;
}
#header img{
    width: 50%;
    margin-right: -90px;
}

#header .nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#header .header-tittle{
    font-size: 50px;
    font-weight: 800;
    color: #272727;
}
#header .header-desc{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #7C7778;
    margin: 20px 0px;
}


/* Main section style here */
#main{
    margin: 120px 0;
}

#main .featured-tittle{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
}
#main .featured-disc{
    font-size: 18px;
    font-weight: 400;
    color: #7D7D7D;
    width: 50%;
    padding: 15px 0 30px 0;
    margin: 0 auto;
    text-align: center;
}

/* Featured flower styles */
#main .featured .flowers{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#main .featured .flower .shape1{
    width: 300px;
    height: 350px;
    text-align: center;

    background-color: #FCEEF1;
    background-image: url(images/pngwing\ 6.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center bottom;

    border-radius: 200px 200px 0 0;
    transition: 0.4s ease all;
}
#main .featured .shape1:hover{
    background-size: 80%;
}
#main .featured .shape2{
    width: 300px;
    height: 350px;
    text-align: center;

    background-color: #DAEFF1;
    background-image: url(images/pngwing\ 5.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

    border-radius: 200px 200px 0 0;
    transition: 0.4s ease all;
}
#main .featured .shape2:hover{
    background-size: 90%;
}
#main .featured .shape3{
    width: 300px;
    height: 350px;
    text-align: center;

    background-color: #E3ECDB;
    background-image: url(images/pngwing\ 7.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center bottom;

    border-radius: 200px 200px 0 0;
    transition: 0.4s ease all;
}
#main .featured .shape3:hover{
    background-size: 80%;
}
#main .featured .flower-name{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #272727;
    text-decoration: underline;
}

/* promises section */
#main .promises{
    text-align: center;
    max-width: 980px;
    margin: 120px auto;
}
#main .promise{
    padding: 80px;
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#main .promise .promise-tittle{
    font-size: 18px;
    font-weight: 400;
    color: #272727;
    margin-top: 18px;
}

/* Hot deals styles here */
#main .hot-deals{
    background-color: #FEF6F8;
}
#main .deals-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 70px;

    text-align: center;
    padding: 50px 120px;
}
#main .deals-tittle{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
#main .deals-desc{
    font-size: 18px;
    font-weight: 400;
    color: #2727277e;
    margin: 24px 0 35px 0;
    line-height: 30px;
}

/* Socials styles */
#main .social{
    margin: 120px;
}
#main .social-tittle{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
    text-align: center;
}
#main .social-desc{
    margin: 15px auto 30px auto;
    font-size: 18px;
    font-weight: 400;
    color: #2727277e;
    width: 50%;
    line-height: 30px;
    text-align: center;
}
#main .social-img{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
#main .social-img img{
    width: 100%;
}


#main .latest-deals{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background-image: url(images/Rectangle\ 9.png);
    background-repeat: no-repeat;
}
#main .latest{
    padding: 120px 200px;
}
#main .latest-tittle{
    font-size: 40px;
    font-weight: 800;
    color: #272727;
}
#main .latest-desc{
    margin: 18px 0 40px 0;
    font-size: 18px;
    font-weight: 400;
    color: #2727277e;
}
#main .latest-deals input{
    padding: 16px;
    border: 1px solid #e995a7;
    border-radius: 8px;
    width: 300px;
    color: #f37e97;
}

/* Footer styles */
#footer{
    background-color: #111010;
}
#footer .footer-part{
    text-align: center;
    padding: 100px 340px;
    color: #ffffff;
}
#footer .footer-tittle{
    font-size: 48px;
    font-weight: 800;
}
#footer .footer-desc{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0 30px 0;
}
#footer .copyright{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff93;
}